@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Jua&subset=korean');

html, body
{
	height: 100%;
}
body
{
	margin: 0px;
	padding: 0px;
	background: #3D3D3D;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #6c6c6c
}
h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #454445;
}
p, ol, ul
{
	margin-top: 0;
}
ol, ul
{
	padding: 0;
	list-style: none;
}
p
{
	line-height: 180%;
}
strong
{
}
a
{
	color: #2C383B;
}
a:hover
{
	text-decoration: none;
}
.container
{
	margin: 0px auto;
	width: 100%;
}


/* 헤더 */

#header-wrapper
{
	overflow: hidden;
	padding: 2.5em 0em 0em 0em;
	background: #FFC000 url(images/overlay.png) repeat;
}
#header
{
}
#triangle {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 30px solid #3D3D3D;
}

/* 로고 */

#logo
{
	padding: 5em 0em;
	text-align: center;
}
#logo h1
{
	font-size: 3.5em;
}
#logo h2
{
	font-size: 1.5em;
}
#logo a
{
	text-decoration: none;
	color: #FFF;
}
#logo span
{
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 0.90em;
	color: rgba(255,255,255,0.5);
}
#logo span a
{
	color: rgba(255,255,255,0.8);
}
    /* 메뉴 */

#menu-wrapper
{
	background: #3D3D3D;
}
#menu
{
	margin: 0px auto;
}
#menu h1
{
	font-size: 3.5em;
}
#menu h2
{
	font-size: 1.5em;
}
#menu ul
{
	text-align: center;
}
#menu li
{
	display: inline-block;
	padding-top: 1.5px;
	padding-bottom: 1.5px;
}
#menu li a:hover, #menu li span:hover {
	background: #ddd;
	box-shadow: 0 0 2.5px #ddd;
	border-radius: 2%;
}
#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 0.50em;
	margin-top: 1em;
	padding: 1em 2.5em 1em 2.5em;
	letter-spacing: 0.20em;
	text-decoration: none;
	font-size: 1.00em;
	font-weight: 600;
	text-transform: uppercase;
	outline: 0;
	color: #FFF;
}
    
    /* 중간 */

#middle-wrapper
{
	overflow: hidden;
	padding: 10em 0em;
	background: #FFF;
	text-align: center;
}
#middle
{
	margin: 0px auto;
}
#middle h1
{
	font-size: 3.5em;
}
#middle h2
{
	font-size: 2.5em;
}
#middle p
{
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	color: #454545;
}
#middle.container p {
	font-family: 'Jua', sans-serif;
}

	/* 아래 */

#down-wrapper
{
	overflow: hidden;
	padding: 1em 0em;
	background: #3D3D3D;
	text-align: center;
}
#down
{
	margin: 0px auto;
}
#down p
{
	margin: 0;
	padding: 0;
	font-size: 1.0em;
	color: #fff;
}





	/* 내가 만든거니 뭐라하면 죽x버릴거양 헤헿 농담인거 알지? */